<!DOCTYPE html>
<html>

<head>
  <title>
    SARAVANAN PALANI | <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta name="description" content="SARAVANAN PALANI - PROGRAMMING ANALYST"></meta>

  <!--stylesheets-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

  <!--external javascript links-->
  <script src="https://use.fontawesome.com/5d80d4fbef.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-mycolour navbar-fixed-top">

    <!--this section handles the mobile navigation menu button-->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SARAVANAN PALANI</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" type="button" data-target="#navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>

    <!--this is the default navigation bar-->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Achievements</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
