<%- include partials/header.ejs %>
  <div id="container">
    <h1>Welcome</h1>
    <section id="textbox">
        <p>I'm glad you are here. My name is Saravanan, thanks for stopping by. Do give a look at my Portfolio.</p>
    </section>
  </div>
<%- include partials/footer.ejs %>
