    <footer>
      <p>&copy;2019 Saravanan Palani</p>
      <div id="social">
        <a href="https://www.linkedin.com/in/saravanan-p-4016129a/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i><a/>
        <a href="mailto:saravana9217@gmail.com" target="_blank"><i class="fa fa-google fa-3x" aria-hidden="true"></i><a/>
      </div>
    </footer>
  </body>
</html>
