<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <img class="headshot" src="/images/headshot.jpg" width="256px" height="256px" alt="Portrait of Mark Chipp" />
    <section id="textbox">
      <h2>Profile</h2>
      <p>
        Programming Analyst, a Certified Enterprise Mobile Application Developer
        (J2EE), having a overall of 2+ years experience as IT Technical Support,
        including the customer service, web applications development and IT
        Recruitment
      </p>

      <h2>Achievements</h2>
      <h3>IBM Career Education Program</h3>
      <h6>Chennai, TamilNadu</h6>
      <p>
        Certified IBM Software Trainee under the Career Education Program - IBM CEEnterprise Application Development (J2EE) using IBM Rational Application Developer.
      </p>

      <h3>Digiterati</h3>
      <h6>Chennai, TamilNadu</h6>
      <p>
        Certified professional in C,C++ with Data structures at Digiterati Organization.
      </p>

      <h2>Education</h2>
      <h3>Computer Programmer, Georgian College Of Applied Arts & Technology, Barrie</h3>
      <h6>January 2016 – Present</h6>
      <p>
        Analyze, design, enhance, and maintain so􀈅ware applications, on a variety of
        platforms including desktop, mobile, web, and mainframe systems
      </p>

      <h3>Bachelor's in Information Technology, Anna University, Chennai, TamilNadu</h3>
      <h6>June 2011 – July 2014</h6>
      <p>
        Gained knowledge on Information, People, and Technology, Organization of
        Data, Networking and Telecommunications and hands on experience in
        Language, Logic, and Discrete Mathematics, Information and Organizations,
        Foundations of Human-Centered Design, Information Sciences and Technology
        Integration and Problem Solving.
      </p>
    </section>
  </div>
  <%- include partials/footer.ejs %>
