<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <section id="textbox">
      <h2>Details</h2>
      <h4>200 Dunsmore Lane, Barrie, L4M6Z8, Canada, +1-705-500-4035</h4>
    </section>
  </div>
  <%- include partials/footer.ejs %>
