<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
      <h2>Courses</h2>
      <h3>Business Intelligence Tools, Georgian - Self Study</h3>
      <h6>January 2019 – April 2019</h6>

      <h3>Advanced Server Side Scripting, Georgian - Self Study</h3>
      <h6>January 2019 – April 2019</h6>

      <h3>Node Js Certification, Code With Mosh - Distant Learning</h3>
      <h6>January 2019 – April 2019</h6>
    </section>
  </div>
<%- include partials/footer.ejs %>
