<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <section id="textbox">
        <img class="headshot" src="/images/headshot.jpg" width="300px" height="300px" alt="Portrait of Mark Chipp" />
      
      <h2>Details</h2>
      <h4>200 Dunsmore Lane, Barrie, </h4>
      <h4>Barrie, ON, Canada, L4M6Z8 </h4>
      <h4>Mobile No : +1-705-500-4035 </h4>
      <h4>Email : 200306119@student.georgianc.on.ca</h4>
    </section>
  </div>
    <%- include partials/footer.ejs %>
