<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
      <h2>Achievements</h2>
      <h3>IBM Career Education Program</h3>
      <h6>Chennai, TamilNadu</h6>
      <p>
        Certified IBM Software Trainee under the Career Education Program - IBM CEEnterprise Application Development (J2EE) using IBM Rational Application Developer.
      </p>
      <p>
        Certified 
      </p>

      <h3>Digiterati</h3>
      <h6>Chennai, TamilNadu</h6>
      <p>
        Certified professional in C,C++ with Data structures at Digiterati Organization.
      </p>
    </section>
  </div>
<%- include partials/footer.ejs %>
