<%- include partials/header.ejs %>
  <div id="container">
    <h1>WORK EXPERIENCE </h1>
    <section id="textbox">
      <h2>Associative Web Developer - Intern at Crafters ads, Madurai, TamilNadu </h2>
      <h6>August 2018 – December 2018</h6>
      <ul>
        <li>Create applications that address the phases of SDLC & Develop comprehensive application testing procedures ,Update existing applications to meet the security and functionality standards as outlined in the company’s website policies</li>
        <li>Assist in updating application development policies to ensure that all future applications meet the latest technical requirements</li>
        <li>Responsible for writing server-side web application logic in JavaScript and/or variants of it, such as CoffeeScript, IcedCoffeeScript, etc.</li>
      </ul>
      <h2>Senior Technical Customer Service Representative at Transcom, North America, Barrie</h2>
      <h6>September 2015 – February 2017</h6>
      <ul>
        <li>Communicating with clients and customers about their experiences with a product or service & leaded a team of 20 people and trained them in the client based service network by Providing advice on purchasing products or services.</li>
        <li>Answering client or customer questions about properly using or accessing a product or service and taking or processing its orders and</li>
        <li>listening to customer or client complaints or concerns and working to resolve their issues. </li>
      </ul>
      <h2>US IT Recruiter at KRG Technologies Inc (Offshore), California, Texas</h2>
      <h6>August 2014 – November 2014</h6>
      <ul>
        <li>Responsible for handling IT requirements from US based clients. </li>
        <li>Responsible for full-cycle recruiting: interview, offer, negotiation and closed candidates for assigned requisitions by sourcing from Job Portals (Monster, Dice, Career builder, Yahoo Hot Jobs), well versed about US Terms like W2, C2C, 1099, US Visas, etc. and responsible for Strategy Development process which includes understanding client requirements & mapping the relevant targets.</li>
      </ul>
      <h2>Production Associate at Honda, Alliston</h2>
      <h6>April 2015 – August 2015</h6>
      <ul>
        <li>Prepare or review specifications or orders for the purchase of safety equipment, ensuring that proper features are present and that items conform to health and safety standards.</li>
        <li>Keep records on the use and/or damage of stock or stock handling equipment.</li>
        <li>Determine production schedules and staff requirements necessary to ensure timely delivery of services.</li>
      </ul>
    </section>
  </div>
<%- include partials/footer.ejs %>
